.ballots-open {
    display: none;
}
#ballots-closed {
    display: block;
}


.updates-open {
    display: none;
}
#updates-closed {
    display: block;
}


.calculate-open {
    display: block;
}
#calculate-closed {
    display: none;
}


.answers-open {
    display: block;
}
#answers-closed {
    display: none;
}
