:root {
    --color-1: #fefefe;
    --color-2: #260d2a;
    --bg: url(./bg.jpg);
    --nav-bg: url(./nav.jpg);
    --par-bg: url(./par.jpg);
    --radio-color: #260d2a;
    --light-radio-color: #fefefe;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: var(--bg);
    background-height: 100%;
    background-position: center;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-bottom: 50px;
}

header {
    width: 100%;
    height: 80px;
    background-image: var(--nav-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.logo {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-1);    
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: var(--color-1);
    font-size: 1ppx;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 10px;
}

.nav-bar ul li a:hover {
    color: var(--color-2);
    background: var(--color-1);
}

.nav-bar ul li a.active {
    color: var(--color-2);
    background: var(--color-1);
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 1050px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
        border-radius: 3px;
    }
    .nav-bar {
        position: absolute;
        top: 69px;
        left: 0;
        right: 0;
        width: 100vw;
        background-image: var(--nav-bg);
        transition: 0.5s;
        height: 0;
        overflow: hidden;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 50px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
        font-size: 20px;
    }
    .nav-bar.active {
        height: 360px;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    header {
        height: 69px;
    }
}
.par {
    background-image: var(--par-bg);
    background-position: center;
    width: 85%;
    margin: 50px auto 0 auto;
    border-radius: 8px;
    padding: 20px 20px;
    color: var(--color-2);
}
.par .title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}
.par .content {
    font-size: 17px;
    text-align: justify;
}
.par .content .credits {
    font-size: 15px;
    font-weight: light;
    color: #000000c2;
}
#calculate, #ballots, #updates, #answers{
    display: none;
}
#home {
    display: block;
}
.ballots-link{
    background-image: var(--nav-bg);
    width: 100%;
    height: 50px;
    margin: 20px auto 5px auto;
    color: white;
    text-align: center !important;
    border-radius: 8px;
    font-size: 20px;
    padding: 15px 0;
}
.date {
    font-weight: bold;
}
.par .content img {
    width: 100%;
    margin-top: 15px;
    border-radius: 8px;
}
.download-image{
    background-image: var(--nav-bg);
    width: 100%;
    height: 50px;
    margin: 15px auto 5px auto;
    color: white;
    text-align: center !important;
    border-radius: 8px;
    font-size: 20px;
    padding: 15px 0;    
}
.download-image a {
    color: white;
}
video {
    width: 30px;
}
.title-update {
    display: flex;
}
.update-title {
    margin-top: 2px;
    margin-left: 10px;
}
.attention {
    font-weight: bold;
}
input[type="radio"] {
    margin-top: 10px;
    margin-right: 7px;
}
.points-worth {
    margin: 20px 5px;
    padding-bottom: 0.1px;
}
.points-worth .points{
    float: left;
    font-weight: bold;
}
.points-worth .value, .value-wrong, .value-right, #total-points{
    float: right;
}
.value-wrong, .value-right, #total-points {
    font-weight: bold;
}
.points-worth .value{
    display: block;
}
.value-wrong {
    display: none;
    color: #d60900;
}
.value-right {
    display: none;
    color: #168117;
}
.correct, .incorrect, .other-acoustic {
    font-weight: bold;
    font-size: 19px;
    float: right;
    display: none;
    margin-left: 3px;
}
.correct, .other-acoustic {
    color: #168117;
}
.incorrect {
    color: #d60900;
}
input[type="text"], input[type="text"]:focus {
    outline: none;
    width: 100%;
    height: 30px;
    font-size: 19px;
    margin-top: 15px;
    background: none;
    border-radius: 0px;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    padding-left: 5px;
    border: 2px solid black;
    margin-bottom: 3px;
}
input[type="submit"] {
    width: 85%;
    height: 50px;
    border-radius: 8px;
    font-size: 19px;
    background-image: var(--nav-bg);
    color: white;
    margin: 40px 7.5% 0 7.5%;
    border: 0px;
    outline: none;
}
.redirect {
    colod: #2629e4;
}
.radio-img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    background: white;
    margin-top: 15px;
    padding: 8px 8px 8px 8px;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    display: flex;
}
.radio-img img{
    display: block;
    height: auto !important;
    max-height: 100% !important;
    width: auto !important;
    max-width: 100% !important;
    border-radius: 0 !important;
    margin: auto auto !important;
    vertical-align: middle;
}

.checked .radio-img {
    border: 2.7px solid var(--radio-color);
}
input[type="radio"] {
    accent-color: var(--radio-color);
}
.right-answer input[type="radio"] {
    accent-color: #168117;
}
.right-answer {
    color: #168117;
}
.right-answer .radio-img {
    border: 2.7px solid #168117;
}
@media only screen and (min-width: 550px) {
    .par {
        width: 60%;
    }
    input[type="submit"] {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

    .on-off {
        display: flex;
        width: 140px;
        line-height: 0.1px;
        font-weight: normal;
        font-size: 15px;
        float: right;
        margin-top: -3px;
        cursor: pointer;
    }
    #on-btn p {
        margin: 15px auto;
        
    }
   #off-btn p {
       margin: 15px auto;
       
   }

.on-checked {
       display: flex;
       width: 70px;
       background: var(--light-radio-color);
       align-items: center;
       border-radius: 8px 0 0 8px;
       border: 3px solid var(--radio-color);
       color: var(--radio-color)
}
.on-not-checked {
       display: flex;
       width: 70px;
       background: var(--radio-color);
       align-items: center;
       border-radius: 8px 0 0 8px;
       color: var(--light-radio-color);
       border: 0;
}
.off-checked {
       display: flex;
       width: 70px;
       background: var(--light-radio-color);
       align-items: center;
       border-radius: 0 8px 8px 0;
       border: 3px solid var(--radio-color);
       color: var(--radio-color);
}
.off-not-checked {
       display: flex;
       width: 70px;
       background: var(--radio-color);
       align-items: center;
       border-radius: 0 8px 8px 0;
       color: var(--light-radio-color);
       border: none;
}
.additional-img {
    display: block;
}